body{
  margin: -10px 0 0 1px;
}
.shangmian{
    width: 1260px;
    height: 62px;
}
.caiquan{
    width: 200px;
    height: 200px;
    background: url("image/caiquan.png");
    background-repeat: no-repeat;
}
